// Layout
$navbarHeight: 60px;
$sidebarWidth: 20rem;
$contentWidth: 900px;
$padding: 40px;

// Color
$color-text-primary: #303133;
$color-text-faded: #777;
$color-accent: #409EFF;
$color-border: #DCDFE6;
$color-shadow: transparentize($color-border, 0.7);